/* 5-DAY FORECAST */

.forecast-container {
	display: flex;
   justify-content: space-between;
	width: 95%;
	margin: 0  auto 20px auto;
	background-color: aliceblue;
}
.forecast-container__item {
  width: 20%;
  padding: 10px 20px 20px 4rem;
  border: 1px solid silver;
  transition: 0.3s;
}
.forecast-container__item:hover {
	cursor: pointer;
	background-color: white;
	border: 1px solid #404040;
}
.forecast-container__item.active {
	background-color: white;
}
.weekday {
	font-size: 1.5625rem;
	line-height: 60px;
  	font-weight: bold;
	color: #009595;
}
.date,
.discription {
  font-size: 1.5625rem;
  color: #8893a2;
}
